h1 {text-align: center;
	color: #6ccff6;}

body {background-color: #e8d6cb;}

p {font-size: 20px;
   color: #37FF8B;
   background-color: #ffe39b}

.p1 {padding-left: 450px;}

.arc {padding-left: 100px; }
.pup {padding-left:250px ; }

.p2 {padding-left: 500px;}



.img-group3 {text-align: center;
			 padding-left: 500px;}

.mark {padding-left: 200px;
		background-color: #e8d6cb}

.Lut {padding-left: 200px;}

